@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Server is running.</h1>
<p>Try navigating to <a href="/api/tweet">/api/tweet</a> and you should see data</p>
</body>
</html>