
html {
    width: auto;
    min-height: 100%;
    height: auto;
    background-color: #8fb7c9;
}

#heading{
    font-family: Arial, Helvetica, sans-serif;
     padding-top: 2em;
    margin-bottom: .5em;
}

  